<h2>About:</h2>
<div class="container" style="background-color:white;border:1px solid lightgrey;border-radius:4px;padding:20px">
  <p>Obtain your <strong>Github Activity</strong> in a 3D view for all your
    repositories or individual ones.<br><br>
    Your Github activity is made up of:
    <ul>
      <li>Commit to repositories</li>
      <li>Opening issues on a repository</li>
      <li>Pull requests to repositories</li>
    </ul>
  </p>

</div>
<h2>Brought to you by:</h2>
<div class="container" style="background-color:white;border:1px solid lightgrey;border-radius:4px;padding:20px">


  <p>
    David Herrera, Software Developer at MUHC Glen Hospital<br>
    <a href="mailto:davidfherrerarhacker@gmai" type="email">davidfherrerarhacker@gmail.com</a><br>
  </p>

</div>
