

<div class="row marketing">

  <div class="container">
    <div class="col-xs-12">

          <div class="row">
            <div class="col-xs-4">
              <label>Enter your Github username:</label>

            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" ng-model="username">
            </div>
            <div class="col-xs-4">
              <button class="btn btn-success" ng-click="getUserActivity()">Get Activity!</button>
            </div>


      </div>



    </div>
  </div>
  <div id="container" style="height: 600px"></div>
</div>
