

<div class="row-fluid">

  <div class="container">
    <div class="col-xs-12">
      
          <div class="row">
            <div class="col-xs-4">
              <label>Enter your Github username:</label>

            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" ng-model="username">
            </div>
            <div class="col-xs-4">
              <button class="btn btn-success" ng-click="getUserActivity()">Get Activity!</button>
            </div>


      </div>
    </div>
  </div>

  <div id="container" style="height: 500px;width:1000px"></div>
  <table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Repository Name</th>
          <th>Owner</th>
          <th>Repository Url</th>
          <th data-field="name" data-sortable="true">Total Number of Commits</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="repository in repositories">
        <td>{{repository.full_name}}</td>
        <td><img class="img-circle" style="width:40px;height:auto" ng-src="{{repository.owner.avatar_url}}">{{repository.owner.login}}</td>
        <td><a ng-click="openLink()">{{repository.html_url}}</a></td>
        <td>2</td>
      </tr>
      </tbody>
</table>
</div>
